
{% extends "base.html" %} {% block content %}

<section id= "Home">
<div class="hero-image">
  <div class="hero-container">
  <h1> The Future of Recycling</h1> <br><br>
  <h2> By integrating deep learning algorithms into an online garbage classification platform,</h2>
  <h2> users can easily and accurately sort their waste materials into the appropriate categories,</h2>
  <h2> leading to more efficient recycling and waste reduction. This technology has the potential </h2>
  <h2> to greatly improve management and help create a more sustainable future by reducing the</h2>
  <h2> amount of waste that ends up in landfills or oceans.</h2>
  </div>
</div>
</section>

<section id= "Classifier">
<div class="jumbotron">
  <h1 class="display-4">Garbage Classification</h1>
  <p class="lead">This Deep Learning model was trained on Garbage Classification Dataset.</p>
  <hr class="my-4">
  <p>Garbage Classification Dataset contains 6 classifications: cardboard , glass , metal , paper, plastic and trash.</p>

  <form id="upload-file" method="post" enctype="multipart/form-data" class="my-5">
    <div class="form-group">
      <label for="imageUpload">Choose Images...</label>
      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" class="form-control-file">
    </div>
    <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Predict!</button>
  </form>

  <div class="image-section" style="display:none;">
    <div class="img-preview">
      <div id="imagePreview"></div>
    </div>
  </div>

  <div class="loader" style="display:none;"></div>

  <h3 id="result" class="mt-5">
    <span> </span>
  </h3>
</div>
</section>

<section id ="Solution">
  <h2>
    5 minute crafts with waste.
  </h2>
  <div class="container">
  
<div id="videoCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#videoCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#videoCarousel" data-slide-to="1"></li>
      <li data-target="#videoCarousel" data-slide-to="2"></li>
      <li data-target="#videoCarousel" data-slide-to="3"></li>
      <li data-target="#videoCarousel" data-slide-to="4"></li>
      <li data-target="#videoCarousel" data-slide-to="5"></li>
      <li data-target="#videoCarousel" data-slide-to="6"></li>
      <!-- Add more indicators as needed -->
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="video carousel-item active ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dTKFJlGyink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class=" video carousel-item ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="carousel-item video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="carousel-item video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="carousel-item video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="carousel-item video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <div class="carousel-item video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8PYe6TGa6rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>      </div>
      <!-- Add more carousel items with embedded YouTube videos -->
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#videoCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#videoCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</section>



{% endblock %}
=======

