
{% extends "base.html" %} {% block content %}

<div class="jumbotron">
  <h1 class="display-4">Garbage Classification</h1>
  <p class="lead">This Deep Learning model was trained on Garbage Classification Dataset.</p>
  <hr class="my-4">
  <p>Garbage Classification Dataset contains 6 classifications: cardboard , glass , metal , paper, plastic and trash.</p>

  <form id="upload-file" method="post" enctype="multipart/form-data" class="my-5">
    <div class="form-group">
      <label for="imageUpload">Choose Images...</label>
      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" class="form-control-file">
    </div>
    <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Predict!</button>
  </form>

  <div class="image-section" style="display:none;">
    <div class="img-preview">
      <div id="imagePreview"></div>
    </div>
  </div>

  <div class="loader" style="display:none;"></div>

  <h3 id="result" class="mt-5">
    <span> </span>
  </h3>
</div>

{% endblock %}
=======

